@import '../../core-styles/colors.scss';

.globalHeader {
  min-height: 7.6rem;
  min-width: 20rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  background-color: #fff;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
  height: 7.6rem;
  border-bottom: 1px solid #000;
}
