.searchBar {
  position: absolute;
  left: 0;
  height: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;

  &__searchBox {
    display: flex;
    height: inherit;
    width: 100%;
    align-items: center;
  }

  &__inputContainer {
    width: inherit;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    pointer-events: none;
    border: none;
    height: 4.7rem;
    transition: border 0.5s;
  }

  &__inputContainer.open {
    border: 1px solid black;
    pointer-events: all;
  }

  &__input {
    border: none;
    flex: 1 1 auto;
    align-self: stretch;
    min-width: 15rem;
    font-size: 1.4rem;
  }

  &__input:not(:focus) + button,
  &__input:not(:focus) {
    opacity: 0;
  }
  &__searchBtn {
    padding: 0rem 0rem;
    font-size: 1.6rem;
    flex: 0 0 4rem;
    justify-self: stretch;
    align-self: stretch;
  }
}

.suggestionContainer {
  position: absolute;
  top: 3.8rem;
  width: 100%;
  padding-top: 1rem;
  background-color: white;
  list-style: none;
  border-radius: 2px;
}

@media only screen and (min-width: 50em) {
  .searchBar {
    width: 27.5rem;
    height: auto;
    margin-left: 2rem;

    &__searchBox {
      border: 1px solid black;
      height: inherit;
    }
    &__inputContainer {
      pointer-events: all;
    }
    &__input:not(:focus),
    &__input:not(:focus) + button {
      opacity: 1;
    }
  }
  .suggestionContainer {
    // bc on small screens the searchbar container has no height
    transform: translateY(1.1rem);
  }
}
