@import '../../../core-styles/extends/iconSmall';

.searchBar {
  position: absolute;
  left: 0;
  height: 0;
  width: 100%;
  display: flex;
  //align-items: center;
  flex-direction: column;

  label {
    flex: 0 0 5rem;
    text-align: center;
    justify-self: stretch;
    align-self: center;
  }

  &__searchBox {
    display: flex;
    height: 0;
    width: inherit;
    align-items: center;
  }

  &__inputContainer {
    width: inherit;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    pointer-events: none;
    border: none;
    transition: border 0.5s;
  }

  &__inputContainer.open {
    border: 1px solid black;
    pointer-events: all;
  }
  &__icon {
    @extend %icon-small;
  }

  &__input {
    border: none;
    flex: 1 1 auto;
    height: 4.5rem;
    min-width: 15rem;
    font-size: 1.4rem;
  }

  &__input:not(:focus) + button,
  &__input:not(:focus) {
    opacity: 0;
  }
  &__searchBtn {
    padding: 0rem 0rem;
    font-size: 1.6rem;
    flex: 0 0 4rem;
    justify-self: stretch;
    align-self: stretch;
  }
}

.suggestionContainer {
  position: absolute;
  top: 3.8rem;
  width: 100%;
  background-color: orange;
  list-style: none;
}
.closeBtn {
  margin: 0 2rem;
  border: none;
  font-size: 2rem;
}
/*
@media only screen and (min-width: 50em) {
  .searchBar {
    padding-right: 0;

    &__searchBox {
      width: 30%;
      opacity: 1;
      pointer-events: all;

      padding-left: 4rem;
      transform: translateX(-4.5rem);
    }
  }

  .suggestionContainer {
    width: 30%;
    top: 2.25rem;
    left: 0.8rem;
  }
}
*/
